<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
       <add name="cnDEIG" connectionString="Data Source=s10.winhost.com;Initial Catalog=DB_85207_deig;User ID=DB_85207_deig_user;Password=wCswan%9432!wc$" providerName="System.Data.SqlClient" /> 
      <!-- <add name="cnDEIG" connectionString="Data Source=WS2012;Initial Catalog=DEIG;User ID=Bart;Password=Simp$on"
            providerName="System.Data.SqlClient" /> -->
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
